a {
	text-decoration: none;
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 30%;
	border-right: 1px solid #ccc;
}
#sidebar header {
	padding: 1em;
}
#sidebar section {
	margin: 1em;
}
#sidebar section h3 {
	margin-bottom: 0.5em;
}
#sidebar section ul {
	margin-top: 0;
}

#sidebar header h2 {
	font-size: 20px;
	line-height: 20px;
	margin: 0;
	font-weight: 100;
	color: #000;
}

#content {
	position: absolute;
	left: 30%;
	width: 70%;
	display: block;
	overflow: scroll;
}
#content article {
	padding: 0 1em 2em 1em;
	border-bottom: 1px solid #ccc;
}
#content h1 {
	margin: 0 0 0.5em 0;
}
article header .meta {
	text-transform: uppercase;
	font-size: 0.9em;
	color: #aaa;
}
#footer {
	display: block;
	text-align: center;
	margin: 1em;
}
#content footer nav {
	text-align: center;
}
#content .tags {
	display: inline-block;
}
#content .tags li {
	display: inline-block;
	list-style-type: none;
	margin-right: 2px;
	padding: 2px 4px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
#content .tags li:hover {
	background-color: #ccc;
	border-color: #aaa;
}

article footer {
	margin: 2em 2em 0 2em;
}
article footer ul {
	padding-left: 0;
	margin: 0;
}
article footer .prev:after {
	content: "\2022 ";
	padding-left: 7px;
}
article footer .next:before {
	content: "\2022 ";
	padding-right: 7px;
}