a {
	text-decoration: none;
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 30%;
	border-right: 1px solid #ccc;
}
#sidebar footer {
	position: absolute;
	bottom: 0.25em;
	width: 100%;
	text-align: center;
}
#sidebar header,
#sidebar #recent {
	padding: 1em;
}
#sidebar header h2 {
	font-size: 20px;
	line-height: 20px;
	margin: 0;
	font-weight: 100;
	color: #000;
}

#recent ul {
	margin: 0;
	padding: 0 1.5em;
}
#content {
	position: absolute;
	left: 30%;
	width: 70%;
	display: block;
	overflow: scroll;
}
#content article {
	padding: 0 1em 2em 1em;
	border-bottom: 1px solid #ccc;
}
#content h1 {
	margin: 0 0 0.5em 0;
}
article header .meta {
	text-transform: uppercase;
	font-size: 0.9em;
	color: #aaa;
}
footer {
	margin-top: 2em;
}
footer ul {
	padding-left: 0;
	margin: 0;
}
.tags {
	display: block;
	text-align: center;
}
.tags li {
	display: inline-block;
	list-style-type: none;
	margin-right: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.tags li:hover {
	background-color: #ccc;
	border-color: #aaa;
}
footer .prev {
	float: left;
	margin-top: -26px;
}
footer .next {
	float: right;
	margin-top: -26px;
}